button((click)=window.console.log("hello")) Hello
h1 Here is an each
each thingy in things
  p= thingy
h1 Here is an each over undefined
each thingy in nothing
  p= thingy
h1 Here is a while
ul
  - var a = 0
  - a += 5
  while a < 100
    li= ++a

